@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --bg: black;
  --fg: white;
  --page-padding: clamp(24px, 5vw, 48px);
}
@font-face {
  font-family: "font-medium";
  src: url("/fonts/font-medium.woff") format("woff"),
    url("/fonts/font-medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "font-medium-oblique";
  src: url("/fonts/font-medium-oblique.woff") format("woff"),
    url("/fonts/font-medium-oblique.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "font-medium-rotalic";
  src: url("/fonts/font-medium-rotalic.woff") format("woff"),
    url("/fonts/font-medium-rotalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  transition: background 300ms;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

/* Transitions */

.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-long-enter-active,
.fade-long-leave-active {
  transition: all 2s ease;
}

.fade-long-enter-from,
.fade-long-leave-to {
  opacity: 0;
}

.slide-enter-active {
  transition: all 1s ease;
}
.slide-enter-from {
  opacity: 0;
  transform: translateX(-32px);
}

.slide-leave-active,
.slide-leave-to {
  opacity: 0;
}

/* Animations */

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-10%);
    animationtimingfunction: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animationtimingfunction: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes scale {
  0%,
  100% {
    transform: scale(1);
    animationtimingfunction: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: scale(1.025);
    animationtimingfunction: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes move {
  0% {
    transform: scale(1.2);
  }

  25% {
    transform: scale(0.7);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

.debug {
  border: 1px solid pink;
}
.debug > * {
  border: 1px solid red;
}

.subtitle {
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 0.075em;
  line-height: 1.5em;
  color: var(--fgdark);
}
